---
export type Props = {
  title?: string;
  url?: string;
  description?: string;
  descId?: string;
};
const { title, url, description, descId } = Astro.props;
const descriptionId =
  descId && descId.length > 0 ? `article-${descId}` : undefined;
---

<h2 data-ui="display" aria-describedby={descriptionId}>
  <a href={url}>{title}</a>
</h2>
<slot />
{description && description.length && <p id={descriptionId}>{description}</p>}