---
import { ClientRouter } from "astro:transitions";
import "@fpkit/acss/styles";
import "../styles/index.css";
import { SITE_DESCRIPTION, SITE_TITLE } from "#utils/site-config";
import Navigation from "#components/astro/Navigation.astro";
import Footer from "#components/astro/Footer.astro";
import Header from "#components/astro/Header.astro";
import Sidebar from "#components/astro/Sidebar.astro";
import Toc from "#components/astro/Toc.astro";
import OpenGraph from "#components/astro/OpenGraph.astro";
import AstroBreadcrumb from "#components/react/astro-breadcrumb.tsx";

// types
type RouteItem = {
  name: string;
  url: string;
  path?: string;
};
type Props = {
  pageTitle?: string;
  pageDescription?: string;
  pageImageUrl?: string;
  showBreadcrumb?: boolean;
  markdownHeaders?: string[];
  breadcrumbRoutes?: RouteItem[];
  ogImage?: string;
  ogDescription?: string;
};

const currentPageSlug = Astro.url.pathname;

const showBreadcrumb =
  Astro.props.showBreadcrumb === undefined ? true : Astro.props.showBreadcrumb;

const { pageTitle, pageDescription, breadcrumbRoutes, pageImageUrl, markdownHeaders, ogImage, ogDescription } =
  Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={SITE_DESCRIPTION} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle || SITE_TITLE}</title>
    <OpenGraph
    title={pageTitle || SITE_TITLE}
    description={ogDescription || pageDescription || SITE_DESCRIPTION}
    url={Astro.url.href}
    image={ogImage || "/images/a11y-banner.webp"}
    type="article"
    twitterUsername="shawnsandy"
  />
    <ClientRouter />
  </head>
  <body>
    <Navigation />
    <Header
      headerTitle={pageTitle}
      headerDescription={pageDescription}
      headerImageUrl={pageImageUrl}
      headerImageAlt={pageTitle}
    />
    <slot name="featured" />
    <main>
      <section>

        {
          showBreadcrumb && (
            <>
              <AstroBreadcrumb
                routes={breadcrumbRoutes || undefined}
                client:load
              />
            </>
          )
        }
      </section>
      <section aria-label="main-content">
        <article>
          <div class="mobile ">
            { markdownHeaders && <Toc headings={markdownHeaders} /> }
          </div>
          <slot />
        </article>
        <aside>
          <div class="mobile-desktop">
            { markdownHeaders && <Toc headings={markdownHeaders} /> }
          </div>
          <Sidebar />
        </aside>
      </section>
    </main>
    <Footer />
  </body>
</html>
